*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#F4F7FC;
color:#222;

}

header{

background:white;
padding:20px 10%;
box-shadow:0 5px 15px rgba(0,0,0,.05);

position:sticky;
top:0;

}

.container{

display:flex;
justify-content:space-between;
align-items:center;

}

nav{

display:flex;
align-items:center;
gap:30px;

}

nav a{

text-decoration:none;
color:#333;

}

.logo{

color:#2563EB;

}

.loginBtn{

background:#2563EB;
color:white;
border:none;
padding:10px 22px;
border-radius:8px;
cursor:pointer;

}

.hero{

display:flex;
padding:80px 10%;
justify-content:space-between;
align-items:center;

gap:50px;

}

.hero img{

width:100%;
border-radius:15px;

}

.hero-left{

width:50%;

}

.hero-right{

width:50%;

}

.hero h1{

font-size:55px;

margin-bottom:20px;

}

.hero p{

line-height:1.8;

margin-bottom:25px;

}

.buttons{

display:flex;
gap:15px;

}

.primary{

background:#2563EB;
color:white;
padding:14px 28px;
border:none;
border-radius:8px;

}

.secondary{

background:white;
padding:14px 28px;
border:1px solid #2563EB;
color:#2563EB;

border-radius:8px;

}

section{

padding:80px 10%;

}

h2{

text-align:center;
margin-bottom:50px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.price-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.price-card{

background:white;

padding:40px;

text-align:center;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.popular{

background:#2563EB;
color:white;

}

.price-card ul{

list-style:none;
margin:25px 0;

}

.price-card li{

padding:10px;

}

.price-card button{

padding:12px 25px;

border:none;

background:#111827;

color:white;

border-radius:8px;

cursor:pointer;

}

.popular button{

background:white;

color:#2563EB;

}

#contact{

text-align:center;

background:#2563EB;

color:white;

}

#contact button{

margin-top:25px;

padding:14px 30px;

border:none;

background:white;

color:#2563EB;

border-radius:10px;

cursor:pointer;

}

footer{

text-align:center;

padding:25px;

background:#111827;

color:white;

}

@media(max-width:900px){

.hero{

flex-direction:column;

}

.hero-left,.hero-right{

width:100%;

}

.hero h1{

font-size:38px;

}

nav{

display:none;

}

}